/conf/config.json
/conf/migrate.json
/data

/frontend/build

/frontend/src/modules/modules.js
/frontend/src/plugins/plugins.js
/frontend/src/templates/templates.js

/node_modules/
/nbproject/
/master/

/plugins/content/component/versions/
/plugins/content/component/componentcache/
/plugins/content/extension/versions/
/plugins/content/extension/extensioncache/
/plugins/content/theme/versions/
/plugins/content/theme/extensioncache/
/plugins/content/menu/versions/
/plugins/content/bower/bowercache/

/temp
/test/.testcache
/tmp

/.settings

.idea
.project
.vscode

# Build artifacts
/dist/
/dist-build/

# MongoDB runtime data (should never be committed)
.mongo-data/
/.mongo-data/
*.wt
*.lock
mongod.lock
WiredTiger*
diagnostic.data/
journal/